In [1]:
from mlutils.data import *

In [2]:
df = load_data("example.csv")
# df

In [3]:
head(df, 2)

[['2000',
  'Level 1',
  '99999',
  'All industries',
  'Dollars (millions)',
  'H01',
  'Total income',
  'Financial performance',
  '757,504',
  'ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)'],
 ['2001',
  'Level 1',
  '99999',
  'All industries',
  'Dollars (millions)',
  'H04',
  'Sales, government funding, grants and subsidies',
  'Financial performance',
  '674,890',
  'ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)']]

In [4]:
index(df)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [5]:
columns(df)

['Year',
 'Industry_aggregation_NZSIOC',
 'Industry_code_NZSIOC',
 'Industry_name_NZSIOC',
 'Units',
 'Variable_code',
 'Variable_name',
 'Variable_category',
 'Value',
 'Industry_code_ANZSIC06']

In [6]:
shape(df)

(14, 10)

In [10]:
isna(df)

        0      1      2      3      4      5      6      7      8      9
0   False  False  False  False  False  False  False  False  False  False
1   False  False  False  False  False  False  False  False  False  False
2   False  False  False  False  False  False  False  False  False  False
3   False  False  False  False  False  False  False   True  False  False
4   False  False  False  False  False  False  False  False  False  False
5   False  False   True  False  False  False  False  False  False  False
6   False  False  False  False  False  False  False  False  False  False
7   False  False  False  False  False  False  False  False  False  False
8   False  False  False  False  False  False  False  False  False  False
9   False  False  False  False  False  False  False  False  False  False
10  False  False  False  False  False  False  False  False  False  False
11  False  False  False  False  False   True  False  False  False  False
12  False  False  False  False  False  False  False  False  False  False
13  False  False  False  False  False  False  False  False  False  False
14   True   True  False  False  False  False  False  False  False  False